<!DOCTYPE html>
<html>
<head>
	<title>Jie Wang</title>
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.7/components/icon.min.css">
	<link rel="stylesheet" type="text/css" href="../public/css/home.css">
	<link href="https://fonts.googleapis.com/css?family=Dancing+Script:700|Lato" rel="stylesheet">
</head>
<body>

	<div id = "bio">
		<nav>
			<header>Jie Wang</header>
			<hr>
			<ul>
				<li><a href="#"><i class="call icon"></i>Contact</a></li>
				<li><a href="#"><i class="laptop icon"></i> Project</a></li>
				<li><a href="#bio"><i class="user icon"></i> Biography</a></li>
			</ul>
		</nav>



		<p id="intro">I am currently an NYU graduate student majoring in Computer Science. I am now seeking for a full time job. My interest includes Front-End Design and Web Design, but I am also open to other Computer Science related job opportunities.
		</p>	
	</div>


	<div id = "project">
		
	</div>

</body>
</html>