
// color
$text-color: #222222;
$theme-color: #170a48;
$secondary-color: #f27731;
$tenary-color: #ccf962;
$link-color: $secondary-color;
$menu-item-color: white;

// fonts
$text-font: "Alegreya Sans", Arial, sans-serif;
$headline-font: "Titillium Web", Georgia, serif;

//size
$content-width: 960px;
$header-height: 80px;
$footer-height: 90px;